@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px);}
  to { opacity: 1; transform: none;}
}
.animate-fade-in {
  animation: fadeIn 0.7s ease;
}
@keyframes shake {
  10%, 90% { transform: translateX(-1px);}
  20%, 80% { transform: translateX(2px);}
  30%, 50%, 70% { transform: translateX(-4px);}
  40%, 60% { transform: translateX(4px);}
}
.animate-shake {
  animation: shake 0.3s;
}